         *{
            margin: 0px;
            padding: 0px;
         }
         a:link, a:visited {
             color: #66d8e1;
         }
         h3 {
            color: #c2d7eb;
            margin-bottom: 10px;
         }
         #wrapper{
            width: 970px;
            background-color: #1c335d;
            margin: 0px auto;
            padding: 10px;
         }
         #header{
            height: 60px;
            border-radius: 10px;
            background-color: #ce3035;
            margin-bottom: 20px;
            color: #c2d7eb;
            padding-left: 25px;
            padding-top: 15px;
         }
         #navigation{
            height: 210px;
            width: 170px;
            border-radius: 25px;
            background-color: #2a7d8c;
            color: #66d8e1;
            font-size: 10.5pt;
            text-decoration: underline;
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            padding-left: 20px;
            padding-right: 15px;
            padding-top: 20px;
         }
         #main_content{
            height: 450px;
            width: 700px;
            border-radius: 25px;
            background-color: #0e1822;
            color: #b7cdde;
            font-size: 10.5pt;
            display: inline-block;
            padding-left: 15px;
            padding-top: 30px;
            padding-right: 20px;
         }
         #footer{
            height: 40px;
            width: 945px;
            border-radius: 25px;
            background-color: #5d6572;
            color: #c2d7eb;
            margin-top: 10px;
            padding-top: 25px;
            padding-left: 25px;
         }
         .a {
            list-style-type: disc;
            margin-left: 20px;
         }
         .b {
            list-style-type: circle;
            margin-left: 40px;
         }
         .c {
            list-style-type: disc;            
            color: #b7cdde;   
            margin-left: 15px;            
            font-size: 10pt;
         }
         .d {
            margin: 8px;
         }
         .purple {
            color: #7884f3;
         }
         .aqua {
            color: #66d8e1;
            text-decoration: underline;
         }